@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#fcfdff] text-slate-600 antialiased selection:bg-teal-100 selection:text-teal-900 overflow-x-hidden;
  }
}

.grid-bg {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(241, 245, 249, 0.5) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(241, 245, 249, 0.5) 1px, transparent 1px);
}

